<div class="panel panel-pithy author">
    <div class="panel-heading avastar">
        <img src="{{ site.baseurl}}/assets/images/avatar.png" alt="yddchsc"/>
    </div>
    <div class="panel-body">
        Web安全门前徘徊的菜鸟。
    </div>
    <div class="panel-footer social">
        <ul>
            <li class="weibo"><a href="http://weibo.com/yddchsc" alt="新浪微博" target="_blank"><i class="fa fa-weibo"></i></a></li>
            <li class="github"><a href="https://github.com/yddchsc" alt="github" target="_blank"><i class="fa fa-github"></i></a></li>
            <li class="facebook"><a href="https://www.facebook.com/profile.php?id=100011423391506" alt="facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <!-- <li class="rss"><a href="{{ '/feed.xml' | prepend: site.baseurl}}" alt="订阅" target="_blank"><i class="fa fa-rss"></i></a></li> -->
        </ul>
    </div>
</div>
